* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display";
    /* font-family: "FiraCode Nerd Font"; */
}

tooltip {
    background: rgba(8, 8, 8, 1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

tooltip label {
    color: rgba(240, 240, 240, 0.8);
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px;
}

window#waybar {
    background: #080808;
}

.modules-left {
    margin-left: 16px;
    padding: 6px 0;
}

#clock {
    color: rgba(220, 220, 220, 1);
    margin: 0 8px;
    padding: 0 8px;
    font-size: 18px;
    font-weight: 700;
}

#window {
    color: rgba(220, 220, 220, 0.8);
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
}

#workspaces {
    margin: 0;
    padding: 6px 0;
}

#workspaces button {
    border-radius: 2px;
    min-height: 0;
    background: none;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 8px;
    margin: 0 4px;
    box-shadow: inset 0 0 7px -1px rgba(255, 255, 255, 0);
}

#workspaces button label {
    font-size: 16px;
    font-weight: 300;
}

#workspaces button.active {
    padding: 0 8px;
    margin: 0 4px;
    background: rgba(224, 224, 224, 0.05);
    color: rgba(240, 240, 240, 1);
    box-shadow: inset 0 0 1px 1px rgba(224, 224, 224, 0.3), inset 0 0 7px -1px rgba(255, 255, 255, 0.1);
}

#workspaces button.active label {
    font-size: 16px;
    font-weight: 500;
}

.modules-right {
    margin-right: 16px;
    padding: 6px 0;
}

.modules-right .module {
    margin: 0 6px;
    font-size: 18px;
    font-weight: 500;
}

#backlight {
    padding-right: 16px;
    color: rgba(200, 200, 200, 1);
}

#pulseaudio {
    padding-right: 12px;
    color: rgba(200, 200, 200, 1);
}

#pulseaudio.muted {
    color: rgba(200, 200, 200, 0.5);
}

#network {
    padding-right: 24px;
    color: rgba(200, 200, 200, 1);
}

#network.disconnected {
    color: rgba(200, 120, 120, 1);
}

#battery {
    color: rgba(200, 200, 200, 1);
    margin-right: 16px;
}

#battery.warning {
    color: rgba(200, 160, 120, 1);
}

#battery.critical {
    color: rgba(200, 120, 120, 1);
}
