* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: "D2CodingLigature Nerd Font";
}

tooltip {
    background: rgba(8, 8, 8, 1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

tooltip label {
    color: rgba(240, 240, 240, 0.8);
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px;
}

window#waybar {
    background: #0a0a0a;
}

.modules-left {
    margin-left: 0;
    padding: 0;
}

#workspaces {
    margin: 0;
    padding: 0;
}

#workspaces button {
    border-radius: 0px;
    min-height: 0;
    background: none;
    color: rgba(255, 255, 255, 0.25);
    padding: 0 4px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
}

#workspaces button label {
    font-size: 14px;
    font-weight: 500;
}

#workspaces button.active {
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(240, 240, 240, 1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#workspaces button.active label {
    font-size: 14px;
    font-weight: 700;
}

#clock {
    color: rgba(220, 220, 220, 1);
    margin: 0 16px;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 700;
}

#window {
    color: rgba(220, 220, 220, 0.8);
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}

.modules-right {
    margin: 0;
    padding: 0;
}

.modules-right .module {
    border-left: 1px solid rgba(128, 128, 128, 0.7);
    padding: 0 12px;
    font-size: 16px;
    font-weight: 700;
}

#backlight {
    border-left: none;
    color: rgba(200, 200, 200, 1);
}

#pulseaudio {
    color: rgba(200, 200, 200, 1);
}

#pulseaudio.muted {
    color: rgba(200, 200, 200, 0.4);
}

#network {
    padding-right: 18px;
    color: rgba(200, 200, 200, 1);
}

#network.disconnected {
    color: rgba(255, 100, 100, 1);
}

#battery {
    padding-right: 8px;
    color: rgba(200, 200, 200, 1);
}

#battery.warning {
    color: rgba(255, 150, 100, 1);
}

#battery.critical {
    color: rgba(255, 100, 100, 1);
}
